:root{
    --color:#6C5CE7;
  }

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: all .2s linear;
    text-decoration: none;
    
}

html{
    font-size: 62.5%;
}

body{
    overflow-x: hidden;
}


.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 2rem;
    top: 0; left: 0;
    z-index: 100;
    background-color: rgb(255,255,255);
    box-shadow: 0px 3px 6px 0px rgb(0 0 0 / 5%);
}

.header .logo{
    font-size: 2.5rem;
}

.header .logo img{
    margin: 0; padding: 0;
    width: 260px;
}

.header .navbar{
    display: flex;
    margin-right: 0px;
}

.header .navbar ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .navbar ul li{
    margin: 0 2rem;
    justify-content: space-around;
}

.header .navbar ul li a{
    font-size: 2rem;
    color: rgb(37, 34, 26);
}

.header .navbar ul li a:hover{
    color: #ccc;
}

.header button{
    width: 240px;
    height: 60px;
    border: none;
    font-size: 20px;
    border-radius: 30px;
    background-color: #ac2a9a;
    color: #fff;
}
.header button:hover{
    background-color: #ad5cf0;
    width: 340px;
}


.header .fa-bars{
    color: black;
    cursor: pointer;
    font-size: 3rem;
    /*display: none;*/
}
.header .call .fa-phone{
    color: black;
    cursor: pointer;
    font-size: 3rem;
}







/*about us section starts*/




.aboutus .containers{
    min-height: 40vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    /*justify-content: center;
    align-items: center;*/
    flex-wrap: wrap;
    gap: 30px;
    flex: 1 1 200px;
    margin: 0;
    padding-top: 10rem;
    margin-bottom: 8rem;
}

    .aboutus .containers h1{
        font-size: 6rem;
        text-align: left;
    }

    .aboutus .containers p{
        font-size: 2rem;
        margin-top: 2rem;
        gap: 8rem;
        line-height: 3.5rem;
    }


    .aboutus .contain1{
        padding: 5rem;
       display: flex;
       flex-direction: column;
        height: 95vh;
        width: 45%;
        background-color: rgb(247, 189, 66);
        border-radius: 15px;
        box-shadow: 0 0 .9rem rgba(0,0,0,.3);
    }

    .aboutus .contain1:hover{
        background-color: #82dbdb;
        transition: 0.5s ease;
      }

    .aboutus .contain1 .image img{
        width: 100%;
    }

    .aboutus .contain2{
        padding: 6rem;
       display: flex;
       flex-direction: column;
        height: 95vh;
        width: 45%;
        background-color: rgb(247, 199, 66);
        border-radius: 15px;
        box-shadow: 0 0 .9rem rgba(0,0,0,.3);
    }
    .aboutus .contain2:hover{
        background-color: #82dbdb;
        transition: 0.5s ease;
      }




/*about us section ends*/









/*bottom section starts------------------*/


.container{
    min-height: 80vh;
    width: 100vw;
    display: flex;
    font-weight: 400;
}

.container hr{
    display: flex;
    justify-content: baseline;
}

.container .box1 .image img{
    margin: 0; padding: 0;
    width: 280px;
}
.box1{
    height: 80vh;
    width: 25vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}

.box1 .icon a{
    font-size: 3rem;
    margin-right: 20px;
    color: black;
}

.box1 .icon{
    margin: 8px 0;
}




.box2{
    height: 80vh;
    width: 25vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top:  50px;
    padding-left: 20px; padding-right: 20px;
}

.box2 ul li{
    list-style: none;
    font-size: 22px;
    margin: 10px 0;
}

.box2 ul li h4{
    font-size: 28px;
}

.box2 ul {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    text-align: left;
}





.box3{
    height: 80vh;
    width: 25vw;
    display: flex;
    text-align: left;
    flex-direction: column;
    padding-top:  30px;
    padding-left: 0px; padding-right: 20px;
}

.box3 ul li{
    list-style: none;
    font-size: 22px;
    margin: 2px 0;
}

.box3 ul li h4{
    font-size: 28px;
}

.box3 ul {
    display: flex;
    flex-direction: column;
    padding: 28px 0;
    text-align: left;
}






.box4{
    height: 80vh;
    width: 25vw;
    display: flex;
    text-align: left;
    flex-direction: column;
    padding-top:  30px;
    padding-left: 0px; padding-right: 70px;
}

.box4 ul li{
    list-style: none;
    font-size: 22px;
    margin: 2px 0;
}

.box4 ul li a{
    display: contents;
    font-size: 30px;
}

.box4 ul li h4{
    font-size: 28px;
}

.box4 ul {
    display: flex;
    flex-direction: column;
    padding: 28px 0;
    text-align: left;
}





.box5 {
    height: 10vh;
    display: flex;
    align-items: center;
}

.box5 li{
    font-size: 23px;
    list-style: none;
    margin-left: 60px;
    font-family: Arial, Helvetica, sans-serif;
}









/*--------------------bottom section ends*/
































/*media queries*/

@media (max-width:768px){
    html{
      font-size: 50%;
    }

    .header .fa-bars{
        display: block;
      }
    
      .header .navbar{
        position: fixed;
        top: 120%; left: 0;
        height: auto;
        width: 100%;
        background-color: #fff;
        z-index: 1000;
        border-top: .1rem solid rgba(0,0,0,.3);
      }
    
      .header .navbar ul{
        height: 100%;
        width: 100%;
        flex-flow: column;
      }
    
      .header .navbar ul li{
        margin: 1rem 0;
      }
    
      .header .navbar ul li a{
        color: #444;
        font-size: 2.4rem;
      }
    
      .header .fa-times{
        transform: rotate(180deg);
      }
}